:root {
  --primary-color: #f69225;
  --secondary-color: #eee;
  --font-stack: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack);
  font-weight: bold;
  color: var(--primary-color);
}

/* Utility */
.bg-primary {
 background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.btn.bg-primary:hover {
  background: var(--primary-color) !important;
  opacity: 0.9;
}

.container {
  padding-top: 5rem;
}

.contact h3 {
  font-weight: bolder;
}

.contact-icon-sm {
  display: none;
}

.contact-info-wrap ul {
  list-style: none;
}

.contact-info-wrap .social-media li a {
  color: var(--primary-color);
}

.contact-info-wrap .contact-info li {
  margin-bottom: 1rem;
}

.contact-info-wrap .contact-info i {
  padding-right: .5rem;
  color: var(--primary-color);
}

.contact-info-wrap .social-media li {
  margin-right: 1rem;
}

.contact-info-wrap .social-media li:last-child {
  color: #000;
}

@media (max-width: 768px) {
  .contact-icon-sm {
    display: block;
  }

  .contact .contact-icon-lg {
    display: none;
  }
}