:root {
  --primary-color: #f69225;
  --secondary-color: #eee;
  --font-stack: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack);
  font-weight: bold;
  color: var(--primary-color);
}

/* Utility */
.bg-primary {
 background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

/* Header */
header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: var(--secondary-color);
}

header nav .current {
  border-bottom: 2px solid var(--primary-color);
}

header nav .nav-item {
  margin-right: 1rem;
}

header nav .btn.bg-primary {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--primary-color) !important;
}

/* Footer */
footer, footer h2, footer h1 {
  color: #343434;
}

footer h1 {
  margin-bottom: 1.3rem;
}

footer a {
  color: #605952;
}

footer a:hover {
  color: var(--primary-color);
}
