* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eeeeee;
}

.banner {
    position: relative;
}

.banner .products-slide {
  height: 580px;
}

.carousel-indicators li {
  background-color: #f69225;
}

.banner #overlay {
    position: absolute;
    bottom: 20%;
    left: 10%;
    background-color: #f69225;
}

.banner #overlay h3 {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6, 
.container h3, .container h5 {
    color: #605952;
}

div.card {
    border: none;
}

p.icons {
    color: #f69225;
}

section .card {
    position: relative;
}

section .card .superSale {
    position: absolute;
    top: 30px;
    left: 30px;
}

#brands {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(0, auto));
}

#adidas {
    grid-column: 2/4;
    grid-row: 1/2;
}

#apple {
    grid-column: 5/7;
    grid-row: 1/2;
}

#samsung {
    grid-column: 3/5;
    grid-row: 2/3;
}

#nike {
    grid-column: 8/10;
    grid-row: 1/2;
}

#contact {
    color: #f69225;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:576px) {
    #contact {
        display: none;
    }
}